
#accordian{
  width: 85%;
  margin: auto;
  margin-top: 100px;
}

@@media (min-width: 768px) {
  #accordian{
    width: 60%;
  }
}

.accordian-headers{
  height: 60px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(black, #656565);
  margin: 10px auto;
  color: white;
  padding: 0 20px;
  justify-content: space-between;
}

h3{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.toggle-indicator{
  font-size: 20px;
}

.accordian-description{
  height: 0px;
  overflow: hidden;
  background-color: #f0f0f0;
  transition: height 0.3s;
}

.accordian-open{
  height: 100px;
  padding: 5px 20px;
  transition: height 0.3s;
}
